**data structure**

1. What are data structures, and why are they important?
 - Data structures is a way of orgranizing,storing, and managing data in a computer so that it can be used efficiently. it just like a container that hold data and determine how  we can interact with it.
 - why they important --
  -  simpilfy data manipulation.
  - optimize searching and sorting operations
  - helps in efficient sotrage and mannagement.


---

2. Explain the difference between mutable and immutable data types with examples.
 - **mutable datatype** - these are the data types whose values can be changed after they are created. As we can remove,add,modify elements.
 example - lists, dictionaries , sets
 list1 = [ 1,2,3,4,5]
 list1[0] = 9
 print(list1)  {it will change the index 0 which is 1 but after doing modification it change into 9}
 - **immutable datatype** - These are the data types whosse values cannot be changed once they create. any change creates a new object in memory. oridinal object remains unchanged. example - strings,tuples
 my_tuple = (1,5,6)
 my_tuple[0] = 8
   print (my_tuple)   { it show an error because tuple are immutable we cannot cahnge them once the create.}


---
3.What are the main differences between lists and tuples in Python?
 -  **lists**
 1. lists are mutable means these can be changed once they create.
 2. syntax - uses square brackets []
 3. proformance -  slower than for iteration because it's mutable.
 4.usage - when you need a collection that may change
 - **tuples**
 1. tuples are immutable means thesse cannot be changed after they create.
 2. syntax = uses parentheses ()
 3. profromance - faster and more memory- efficient because it's immutable.
 4. usage - when you need a fixed collection pr want to protect data from changes.

---
4.Describe how dictionaries store data?
 - Dictionaries are store in the form of key-value pairs.
Each key maps to a specific value, allowing quick and efficient data retrieval using that key.
 dictionarie uses has table under the hood
 - firstly , each key is passed through the hash function , that convert the key into hash value.
 - This hash value decides where the key-value has stored in the memory.
 - When you search a key, Python calculates its hash again and goes directly to that memory slot — this makes dictionary lookups very fast.


---
5. Why might you use a set instead of a list in Python?
 - we use set instead of list when we want to store unique items and donot care about the order of the elements.In other words, when we need to remove the duplicate values from the list quickly.


---
6. What is a string in Python, and how is it different from a list?
 - Well, string is the collection of charaters enclose in quotes - either single ('') or double(""). it is used to represent the text.if we talk about the difference between lists and string is :
 1. string is sequence of characters but list is a collection of different data types like numbers, string etc.
 2. string: syntax is enclose in quotes while list : syntax is square brackets[].
 3. string is immutable . However list is mutable.


---
7.  How do tuples ensure data integrity in Python?
 - Tuples help ensure data integrity in python mainly because they are immutable -  means their contents cannot be changed after creation. as we cannot modify,add, or remove its elements , this will protects data from accidental changes during program execution. hence, this will ensure that critical data remains unchanged.


---
8. What is a hash table, and how does it relate to dictionaries in Python?
 - **hash table** - It is a dat structure that stores key- value pairs and allows fast access of data.
 - It works by using the hash fuction that conversts the key into unique index also called has value where the data is stored in memory.
 breifly looking how it realtes to dictionaries: firstly, python takes a key then that key will run through a hash fuction which converts the key into hash value(get a number) which is directly goes to the memory slot and fetches the value.

---
9. Can lists contain different data types in Python?
- yes , as list is the collection of hetergeous data types like string , int ,float, bool . example-- ["ajay",1,2,3.3,True,False]


---
10. Explain why strings are immutable in Python?
 - there are some reason behind it -
 1. To protect your data from accidental change: python store identical strings only once in memory, if it is mutable , changing one would accidentally change all copies that refer to it.
 2. to make programs faster and safer : Strings are often use for indentifiers, file paths, and key in dictionaries. If they could change, it would cause serious bugs or data corruption.
 3.to allow strings to be used as dictionary keys.


---
11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer many advantages over lists for certain types of tasks such as-
 1. when we want to store data as key-value pairs.
 2. when we need fast lookups, as searching by key is fast using hash table as compare to the list searching.
 3. when we wat the data more meaningful then we use dictiornaries because in list  data is less descriptive .
 4. lastly, you do not want duplicates as dictionaries have keys those are unqiue which will helps in data integrity.


---
12. Describe a scenario where using a tuple would be preferable over a list?
 - Mostly, tuples are used when you want that data should not change and faster access for example, in a company we record the database of employee in which the joining date of an employee can be stored in a tuple,beacuse it's fixed(joining date never change once recorded).it helps protect the data integrity.



---


13.How do sets handle duplicate values in Python?
 - sets is the collection of unqiue values. when duplicate values are present in the set , then set automatically remove the duplicates and keep unqiue elements. hash table also play an important role in sets as well . when set is create ,python interally uses a hash table to store vlaues. Each element's hash value is used to determine if it's alreday in the set. if a new element has a samne hash value as  existing one ,python will ingore it.


---
14. How does the “in” keyword work differently for lists and dictionaries?
-  1. in for lists - when we use 'in' with list, python checks the wether the element present in the list- it searching through elements one by one. python look at each element in the list until it find the match. this means it is time consuming.
 -  2. in for dictionaries - when we use 'in' for dictionaries, it checks wther the key exists. it check only keys not the values . this helps in fater lookups.


---


15. Can you modify the elements of a tuple? Explain why or why not?
 - well, tuples are immutable dat structure , means you can not modify, remove or add any elements from tuples. python store tuples in fixed memory  , you tuple become mutable it may use bugs and data corruption which will diractly harms to data integrity, and performance of tuple get slower because of modification.

---

16. What is a nested dictionary, and give an example of its use case?


 - Nested dictionary means  dictionary inside another dictionary. it is used when you want to store complex,structured data - like object that have multiple level of details. for exmaple , the employee database , as we have a dictionary name employee and inside it have a key with employee ID , which have another dictionary that holding the employee details.
 employee = { "EOO1" :{"name":"raman", "age": 25, "department": "IT"}}

---
17. Describe the time complexity of accessing elements in a dictionary?
 - dictionary is built uding hashing . so the accessing elements in a dictionary is very fast . you can direclty search the key using hashing without seacrhing all the keys and values.


---
18. In what situations are lists preferred over dictionaries?
 - 1. when the sequence of items is important, as list keep elements in a fixed order(indexed-based).
  2. when you only need values not need keys.
  3. when memory efficency matters, as list require less memory than dictionaries for the same number of items.
  4. when you need to main duplicates , as dictionary cnnot allow dulpicates.

---

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - dictionaries considered unoredered means that the elements not stored in sequence position , as it is stored based on key hashing. As a result, you cannot retrieve the elements by position. if you want to retrieve the element it must be done using keys which make retrievel fast (O(1)). python directly jumps to the slot using the key hashing .

---
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
 - How list retrieve data - list store data ina sequence . Each item has an index value starting from 0. retrieval of data is index based. like number[45,63,8] , print(number[1]) #output 63
  - How dictionary retrieve data -  dictioanry is using the hash table table to store the keys. so data retrieval is key based in dictionary . you can acces data by using key. dic = {"name": "alice" , "age":21} , print(dict["name"]) # output = "alice"
  retrievel time complexity:
  - O(1) on average because hashing jumps directly to the value.

In [2]:
# 1. Write a code to create a string with your name and print it
name = "alice"
print(name)

alice

In [3]:
#2. Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [6]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I Like apple"
print(string.replace("apple","orange"))

I Like orange

In [7]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list =  [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b','c','d']
print(list[1])

b

In [13]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [14]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [16]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple =  ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [22]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange", "kiwi")
"kiwi" in fruits

True

In [26]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {"a","b","c"}
print(set1)

{'c', 'a', 'b'}

In [27]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [28]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [29]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1|set2

{1, 2, 3, 4, 5}

In [30]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1&set2

{3}

In [31]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name": "alice","age":22, "city": "pune"}
print(dic)

{'name': 'alice', 'age': 22, 'city': 'pune'}

In [32]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic = {'name': 'John', 'age': 25}
dic["country"] = "USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic = {'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [34]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary  {'name': 'Alice', 'city': 'Paris'}..
dic = {'name': 'Alice', 'city': 'Paris'}
"city" in dic

True

In [38]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dic = {"name": "alice", "age": 23,"city":"pune"}
print(list)
print(tuple)
print(dic)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'alice', 'age': 23, 'city': 'pune'}

In [44]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list = [random.randint(1,100) for  i in range(5)]
list.sort()
print(list)

[11, 44, 47, 59, 65]

In [45]:
#28.  Write a code to create a list with strings and print the element at the third index.
list = ["onion","patato","ginger","garlic","cloves"]
print(list[3])

garlic

In [51]:
# 29. Write a code to combine two dictionaries into one and print the result.
dic1 = {"name": "alice","age":22, "city": "pune"}
dic2 = {"class":"10th","subject": "maths","grade": "A"}
dic1.update(dic2)
print(dic1)

{'name': 'alice', 'age': 22, 'city': 'pune', 'class': '10th', 'subject': 'maths', 'grade': 'A'}

In [52]:
# 30. Write a code to convert a list of strings into a set.
list = ["onion","patato","ginger","garlic","cloves","ginger"]
set1 = set(list)
print(set1)

{'cloves', 'garlic', 'ginger', 'patato', 'onion'}